body{
  width: 100%;
  background-color: #ffcccc;
}

h1 {
  text-align: center;
  color: #000066;
  text-shadow: 10px 5px 10px black;
}

div.flashcard {
  width: 10%;
  margin: 35%;
  padding: 5%;
  border: solid 1px black;
}

p {
  display: none;
  text-align: center;
}

.heart {
  color: red;
  text-shadow: 2px 2px black;
}

.show {
  display: block;
}

.hide {
  display: none;
}
